body {
  background: green;
}
.media-query:after {
  content: "Default";
}


@media screen and (min-width: 601px) and (max-width: 800px) {
  body {
    background: orange;
  }
  .media-query:after {
    content: "min-width: 601px";
  }
}

@media screen and (min-width: 801px) {
  body {
    background: purple;
  }
  .media-query:after {
    content: "min-width: 801px";
  }
}