/* apply a natural box layout model to all elements */
*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

@media screen and (min-width: 641px) {
  .panel {
    float: left;
    width: 50%;
  }
}